<div fxLayout="column" fxFill>
  <div fxLayout="row">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>{{title}}</h1>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-button routerLink="/">Übersicht</a>
        <a mat-button routerLink="/bookings">Buchungen</a>
        <a mat-button routerLink="/accounts">Konten</a>
        <a mat-button routerLink="/categories">Kategorien</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="content" fxLayout="column">
    <router-outlet></router-outlet>
  </div>
</div>
