.content {
  display: flex;
  overflow: auto;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 200px;
}

.list-item-active {
  font-weight: bold;
  color: black !important;
}
