<mat-drawer-container>
  <mat-drawer #drawer mode="over">
    <mat-nav-list>
      <h3 matSubheader>My Budget Book</h3>
      <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Übersicht</a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="/bookings">Buchungen</a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="/accounts">Konten</a>
      <a mat-list-item routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact: true}"
         routerLink="/categories">Kategorien</a>
      <mat-divider></mat-divider>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="column" fxFill>
      <div fxLayout="row">
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-icon-button>
              <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <div class="content" fxLayout="column">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
