<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <h1 mat-dialog-title>Konto anlegen</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput required [(ngModel)]="accountName" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput required type="number" [(ngModel)]="startingBalance" placeholder="Startsaldo">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button (click)="createAccount()" cdkFocusInitial>Anlegen</button>
  </div>
</div>
