<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <div *ngIf="isLoading" class="spinner" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" fxFlex="10" fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top: 8px">
    <button mat-icon-button aria-label="Previous month" (click)="selectPreviousMonth()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <mat-form-field style="display: none;">
      <input matInput [(ngModel)]="startDate" [matDatepicker]="startDatePicker" placeholder="Von"
             (dateChange)="onStartDateChange()">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #startDatePicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="startDatePicker.open()">Vom {{startDate | date: 'shortDate'}}</button>

    <mat-form-field style="display: none;">
      <input matInput [(ngModel)]="endDate" [matDatepicker]="endDatePicker" placeholder="Bis"
             (dateChange)="onEndDateChange()">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #endDatePicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="endDatePicker.open()"> Bis {{endDate | date: 'shortDate'}}</button>

    <button mat-icon-button aria-label="Next month" (click)="selectNextMonth()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <mat-nav-list *ngIf="!isLoading" fxFlex="80">
    <mat-list-item class="account" role="listitem" *ngFor="let booking of bookings"
                   (click)="updateBooking(booking)">

      <div matLine fxLayout="row" fxLayoutAlign="space-between start"
           [class.booking-date-is-in-future]="dateIsInFuture(booking.date)">
        <div>{{booking.title}}</div>
        <div class="mat-small date">{{booking.date | date}}</div>
      </div>
      <div matLine fxLayout="row" fxLayoutAlign="space-between start">
        <div *ngIf="categories" class="mat-small category">{{getCategory(booking.categoryId)}}</div>
        <div [className]="booking.amount >= 0 ? 'income' : 'outcome'"
             [class.booking-date-is-in-future]="dateIsInFuture(booking.date)">{{booking.amount | number: '1.2-2'}} €
        </div>
      </div>
    </mat-list-item>
  </mat-nav-list>

  <div fxFlex="10" class="balance" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="balances.length > 0" (click)="balancesClicked()">
      {{balances[0].name}}
      {{balances[0].balance | number: '1.2-2'}} €
    </div>
  </div>

  <button mat-fab color="primary" class="add-booking-button" (click)="showCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
