<div class="container" fxFlex="1 1 auto">
  <mat-list role="list">
    <mat-list-item class="account" role="listitem" *ngFor="let booking of (bookings | async)">
      <div matLine fxLayout="row" fxLayoutAlign="space-between start">
        <div>{{booking.title}}</div>
        <div>{{booking.date | date}}</div>
      </div>
      <div matLine fxLayout="row" fxLayoutAlign="space-between start">
        <div *ngIf="categories">{{getCategory(booking.categoryId)}}</div>
        <div>{{booking.amount}} €</div>
      </div>
    </mat-list-item>
  </mat-list>

  <button mat-fab color="primary" class="add-booking-button" (click)="showCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
