.add-booking-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.income {
  color: #4caf50;
}

.outcome {
  color: #f44336;
}

.category {
  color: grey;
}

.date {
  color: grey;
}

.balance {
  background: #4caf50;
}
