<div class="container" fxFlex="1 1 auto">
  <mat-nav-list>
    <mat-list-item class="account" role="listitem" *ngFor="let booking of (bookings | async)"
                   (click)="updateBooking(booking)">
      <div matLine fxLayout="row" fxLayoutAlign="space-between start">
        <div>{{booking.title}}</div>
        <div class="mat-small date">{{booking.date | date}}</div>
      </div>
      <div matLine fxLayout="row" fxLayoutAlign="space-between start">
        <div *ngIf="categories" class="mat-small category">{{getCategory(booking.categoryId)}}</div>
        <div [className]="booking.amount >= 0 ? 'income' : 'outcome'">{{booking.amount | number: '1.2-2'}} €
        </div>
      </div>
    </mat-list-item>
  </mat-nav-list>

  <button mat-fab color="primary" class="add-booking-button" (click)="showCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
