<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <h1 mat-dialog-title>Buchung anlegen/bearbeiten</h1>
  <div mat-dialog-content [formGroup]="bookingFormGroup">
    <mat-form-field>
      <input matInput required formControlName="title" placeholder="Titel">
    </mat-form-field>

    <mat-form-field>
      <!--      <input matInput [(ngModel)]="date" placeholder="Datum">-->
      <input matInput required formControlName="date" [matDatepicker]="picker" placeholder="Datum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput required type="number" formControlName="amount" placeholder="Wert">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kategorie</mat-label>
      <mat-select required formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Konto</mat-label>
      <mat-select required formControlName="accountId">
        <mat-option *ngFor="let account of accounts" [value]="account.id">
          {{account.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="isStandingOrder">Dauerauftrag</mat-checkbox>

    <div *ngIf="bookingFormGroup.controls['isStandingOrder'].value">
      <mat-form-field>
        <mat-label>Periode</mat-label>
        <mat-select formControlName="standingOrderPeriod">
          <mat-option value="WEEKLY">wöchentlich</mat-option>
          <mat-option value="MONTHLY">monatlich</mat-option>
          <mat-option value="QUARTERLY">quartalsweise</mat-option>
          <mat-option value="HALF_YEARLY">halb jährlich</mat-option>
          <mat-option value="YEARLY">jährlich</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <div mat-dialog-actions align="end">
      <button mat-button *ngIf="data.booking.id.length > 0" (click)="onDeleteClick()" color="warn">Löschen</button>
      <button mat-button (click)="onNoClick()">Abbrechen</button>
      <button mat-button (click)="onOkClick()" [disabled]="!bookingFormGroup.valid" cdkFocusInitial>OK</button>
    </div>
  </div>
</div>
